html {
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
}

#display-container {
    border-radius: 5px;
    border: 2px solid rebeccapurple;
    background-color: aliceblue;
    height: 4rem;
    width: 26rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.display {
    font-size: 20px;
    height: 1.8em;
    background-color: inherit;
    width: 100%;
    color: black;
    font-weight: 500;
}

input {
    outline: none;
}

main, 
.display {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    flex-direction: column;
}

button {
    font-size: larger;
    margin-bottom: .5rem;
} 

button:hover {
    background-color: aqua;
}