html {
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
}

#display-container {
    border-radius: 5px;
    border: 2px solid rebeccapurple;
    background-color: aliceblue;
    height: 4rem;
    width: 26rem;
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.primary-display,
.main-display {
    font-weight: bolder;
}

.primary-display {
    border: 1px solid gray;
    overflow: hidden;
    width: 45%;
    height: 1.5rem;
    border-left: none;
}

.main-display {
    font-size: 20px;
    height: 1.8em;
    width: 100%;
    background-color: inherit;
    color: black;
}

main, 
.main-display,
.primary-display {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    flex-direction: column;
}

button {
    font-size: larger;
    margin-bottom: .5rem;
} 

button:hover {
    background-color: aqua;
}

footer {
    position: absolute;
    align-self: flex-end;
    height: 2rem;
    margin: 0 auto;
}